.DS_Store
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
bin/
lib/
include/
*.log
.env
.venv/
*.sqlite3
fake_data/
runs/
play/
examples/taichi_examples/
taichi_examples
taichi_examples/
./examples/taichi_examples/
*.mov
history/
